@{
    string activePage = ViewBag.MemberMenuActive;
    string activeClass = "ui-btn-active ui-state-persist";
    string inactiveClass = "";
    string memberId = Model.Id.ToString("N"); // todo - get this somewhere else
}

<div data-role="navbar">
    <ul>
        <li><a href="/Parent/Member/@memberId" class="@(activePage == "Details" ? activeClass : inactiveClass)">Details</a></li>
        <li><a href="/Parent/MemberParents/@memberId" class="@(activePage == "Parents" ? activeClass : inactiveClass)">Parents</a></li>
        <li><a href="/Parent/MemberBadges/@memberId" class="@(activePage == "Badges" ? activeClass : inactiveClass)">Badges</a></li>
        <li><a href="/Parent/MemberBelts/@memberId" class="@(activePage == "Belts" ? activeClass : inactiveClass)">Belts</a></li>
        <li><a href="/Parent/MemberGoals/@memberId" class="@(activePage == "Goals" ? activeClass : inactiveClass)">Goals</a></li>
        <li><a href="/Parent/MemberAttendance/@memberId" class="@(activePage == "Attendance" ? activeClass : inactiveClass)">Attendance</a></li>
        <li><a href="/Parent/Sessions">@System.Configuration.ConfigurationManager.AppSettings["SessionsMenuTitle"]</a></li>
    </ul>
</div>
