@model CoderDojo.Adult
@{
    CoderDojo.Adult adult = Model;
    ViewBag.Title = adult.FullName;
    ViewBag.MenuActive = "Parents";
    ViewBag.ParentMenuActive = "Kids";
}

@section HeaderLeft
{
}

@section HeaderRight
{
}

@section Footer
{
}

@section Panels
{
    @Html.Partial("_MentorMenu")
}

@Html.Partial("_ParentMenu")

@*if (adult.MemberParents.Count() == 0) {
    <p>There aren't any members linked to @adult.FullName yet.  Use the search below, then click on the kids name to create the link.</p>
} else {
*@
    <ul data-role="listview" id="KidList" data-autodividers="false" data-corners="true" data-inset="true" data-split-icon="delete">
        @foreach (CoderDojo.MemberParent mp in adult.MemberParents.OrderBy(mp => mp.Member.FirstName))
        {
            <li data-memberid="@(mp.MemberId.ToString("N"))" data-relationshipid="@(mp.Id.ToString("N"))">
                <a href="#" class="View" title="View @(mp.Member.FirstName)'s Details">@mp.Member.MemberName</a>
                <a href="#" class="Delete" title="Remove Relationship"></a>
            </li>
        }
    </ul>
@*
}
*@


<h3>Add a Relationship</h3>
<ul id="MemberSelect" data-role="listview" data-autodividers="false" data-filter-reveal="true" data-filter-placeholder="Search Members" data-corners="true" data-inset="true" data-filter="true">
</ul>


<div data-role="popup" id="DeleteKidPopup" data-overlay-theme="a" data-theme="c" data-dismissible="false" class="ui-corner-all">
    <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Delete Relationship?</h1>
    </div>
    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
        <h3 class="ui-title">Are you sure you want to delete this relationship?</h3>
        <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">Cancel</a>
        <a id="ConfirmDelete" href="#" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Delete</a>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $("#MemberSelect").off("click", "a").on("click", "a", function (e) {
            e.preventDefault();
            var parentId = '@(adult.Id.ToString("N"))';
            var memberId = $(this).data("memberid");

            $.ajax("/Mentor/CreateRelationship", {
                type: "POST",
                data: {
                    parentId: parentId,
                    memberId: memberId
                }
            })
            .then(function (response) {
                $("#KidList").append('<li data-memberid="' + response.memberId + '" data-relationshipid="' + response.relationshipId + '">' +
                    '<a href="#" class="View" title="View ' + response.memberFullName + '&quot;s Details">' + response.memberFullName + '</a>' +
                    '<a href="#" class="Delete" title="Remove Relationship"></a></li>');
                $("ul#KidList").listview("refresh").trigger("updatelayout");
                // $(".ui-listview-filter input").val("").trigger("change")
                $("#MemberSelect li a[data-memberid=" + response.memberId + "]").closest("li").remove();
                $("#MemberSelect").listview("refresh").trigger("updatelayout");
            });
        });

        $("#KidList").off("click", "a.Delete").on("click", "a.Delete", function (e) {
            e.preventDefault();
            var relationshipId = $(this).closest("li").data("relationshipid");
            $("#DeleteKidPopup").data("relationshipid", relationshipId);
            $("#DeleteKidPopup").popup("open");
            setTimeout(function () {
                $("a#ConfirmDelete").off("click").on("click", function (e) {
                    var relationshipId = $("#DeleteKidPopup").data("relationshipid");
                    $.ajax("/Mentor/DeleteRelationship", {
                        type: "POST",
                        data: {
                            id: relationshipId
                        }
                    })
                        .then(function (response) {
                            $("#KidList li[data-relationshipid=" + relationshipId + "]").fadeOut(200, function () {
                                $(this).remove();
                                $("ul#KidList").listview("refresh").trigger("updatelayout");
                            });
                        });
                });

            }, 500);
        });

        $("#KidList").off("click", "a.View").on("click", "a.View", function (e) {
            e.preventDefault();
            var memberId = $(this).closest("li").data("memberid");
            window.location = "/Mentor/Member/" + memberId;
        });

        $("#MemberSelect").off("listviewbeforefilter").on("listviewbeforefilter", function (e, data) {
            var $ul = $(this),
                $input = $(data.input),
                value = $input.val(),
                html = "";
            $ul.html("");
            if (value && value.length > 2) {
                $.mobile.showPageLoadingMsg(true);
                $.ajax({
                    url: "/Mentor/SearchMembersByName",
                    dataType: "json",
                    crossDomain: false,
                    data: {
                        name: $input.val()
                    }
                })
                .then(function (response) {
                    $.each(response, function (i, member) {
                        // Check that the kid isn't alredy related
                        if ($("#KidList li[data-memberid=" + member.Id + "]").length == 0) {
                            html += "<li data-icon='add' data-icon-position='right'><a href='#' data-memberid='" + member.Id + "'>" + member.FirstName + " " + member.LastName + "</a></li>";
                        }
                    });
                    $ul.html(html);
                    $ul.listview("refresh");
                    $ul.trigger("updatelayout");
                    $.mobile.hidePageLoadingMsg();
                });
            }
        });
    });
</script>
