@model CoderDojo.Team
@{
    Team team = Model;
    ViewBag.Title = "Team";
    ViewBag.MenuActive = "Teams";
    bool newItem = (Model.Id == null || Model.Id == Guid.Empty);
}

@section HeaderLeft
{
    <a data-role="button" data-icon="tag" id="PrintButton">Print ID</a>
    <a data-role="button" data-icon="tag" id="PrintTeamCardButton">Print Team Card</a>
}

@section HeaderRight
{
}

@section Footer
{
    <a data-role="button" data-icon="check" class="FormSave">Save</a>
    @if (!newItem) {
        <a data-role="button" data-icon="delete" id="Delete">Delete</a>
    }
}

@section Panels
{
    @Html.Partial("_MentorMenu")
}

@Html.Partial("_ImageEditable", "Team_" + team.Id.ToString("N"))

@using (Html.BeginForm("TeamSave", "Mentor"))
{
    <fieldset data-role="controlgroup">

        @Html.HiddenFor(b => b.Id)

        <label for="Color">Team Name</label>
        @Html.TextBoxFor(b => b.TeamName, new { @class="AutoFocus" })

        <label for="HexCode">Hex Code</label>
        @Html.TextBoxFor(b => b.HexCode)

        <label for="Goal">Goal</label>
        @Html.TextAreaFor(b => b.Goal)

        <label for="Notes">Notes</label>
        @Html.TextAreaFor(b => b.Notes)

        @if (team.Members.Count > 0) {
            <h3>Members:</h3>
            <ul>
                @foreach(var member in team.Members.OrderBy(m => m.FirstName)) {
                    <li><a data-role="button" href="/Mentor/Member/@(member.Id.ToString())">@member.FirstName @member.LastName</a></li>
                }
            </ul>
        }
    </fieldset>
}

<div data-role="popup" id="DeleteConfirmPopup" data-overlay-theme="a" data-theme="c" data-dismissible="false" class="ui-corner-all">
    <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Delete Team?</h1>
    </div>
    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
        <h3 class="ui-title">Are you sure you want to delete this?</h3>
        <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">Cancel</a>
        <a id="ConfirmDelete" href="#" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Delete</a>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("a#Delete").off("click").on("click", function (e) {
            e.preventDefault();
            $("#DeleteConfirmPopup").popup("open");
            setTimeout(function () {
                $("a#ConfirmDelete").off("click").on("click", function (e) {
                    var id = $("#Id").val();
                    $.ajax("/Mentor/TeamDelete", {
                        type: "POST",
                        data: {
                            id: id
                        }
                    })
                        .then(function (response) {
                            window.location = "/Mentor/Teams";
                        });
                });
            }, 500);
        });

        $("input#HexCode").off("change").on("change", function () {
            updateHexColor();
        });
    });

    function updateHexColor() {
        var color = $("input#HexCode").val();
        $("input#HexCode").closest("div").css("transition", "background-color 1.5s");
        $("input#HexCode").closest("div").css("background-color", color);
    };

    setTimeout(function () {
        updateHexColor();
    }, 1000);

    $("#PrintButton").off("click").on("click", function (e) {
        e.preventDefault();
        window.openNewWindow("/Passport/@(team.Id.ToString("N"))");
    });

    $("#PrintTeamCardButton").off("click").on("click", function (e) {
        e.preventDefault();
        window.openNewWindow("/Home/TeamCard/@(team.Id.ToString("N"))");
    });
</script>
