@model CoderDojo.Member

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Member</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthYear)
            @Html.ValidationMessageFor(model => model.BirthYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScratchName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ScratchName)
            @Html.ValidationMessageFor(model => model.ScratchName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.XboxGamertag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.XboxGamertag)
            @Html.ValidationMessageFor(model => model.XboxGamertag)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Login)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PasswordHash)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PasswordHash)
            @Html.ValidationMessageFor(model => model.PasswordHash)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GithubLogin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GithubLogin)
            @Html.ValidationMessageFor(model => model.GithubLogin)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
