@model CoderDojo.MemberBadge

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MemberBadge</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Member.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Member.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Badge.Achievement)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Badge.Achievement)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Awarded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Awarded)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Adult.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adult.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
