@model CoderDojo.MemberBadge

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MemberBadge</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Member.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Member.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Badge.Achievement)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Badge.Achievement)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Awarded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Awarded)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Adult.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adult.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
